@page
@model BookColectionDemo.Pages.Book.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookCollections</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCollections.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCollections.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCollections.AutherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCollections.AutherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCollections.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCollections.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCollections.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCollections.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookCollections?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
