@page
@model BookColectionDemo.Pages.Book.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div id="container" class="fade-in">
    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table" id="dataTableData">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookCollections[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookCollections[0].AutherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookCollections[0].ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookCollections[0].Rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BookCollections)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AutherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="edit">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID" class="details">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/datatablefile.js"></script>
}
